@mixin tablet {
    @media only screen and (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: $desktop-width) {
        @content;
    }
}

%pageDefault {
    width: 100vw; 
    height:90vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}