@mixin tablet {
    @media only screen and (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: $desktop-width) {
        @content;
    }
}

@mixin desktopSectionLayout {
    justify-content: left;
    padding-left: 10vw;
}

%flexCeCe {
    display: flex;
    align-items: center;
    justify-content: center;
}

%pageDefault {
    width: 100vw; 
    height:90vh;
    position: relative;
    @extend %flexCeCe;
    flex-direction: column;
}

%articleTransition {
    color: $color-main-bg;
    transition: all .2s linear .2s;
    max-height: 0;
    margin-bottom: 0;
    opacity: 0;
    overflow: hidden;
}

%focusBox {
    outline: none;
    box-shadow: 0 0 8px 8px $color-focus-blue;
}

%fixedFullPage {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0; top: 0;
    background-color: rgba(0,0,0,0.48);
}