$tablet-width: 600px;
$desktop-width: 1000px;

$color-main-bg: #000000;
$color-main-font: #ffffff;
$color-medium-grey: #c2c2c2;
$color-focus-blue: rgba(32, 102, 255, 0.8);
$color-wrn-red: #ff2020cc;

$main-transition: all .5s ease-in-out;